body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

#app {
    margin-top: 50px;
}

#weather-result {
    margin-top: 20px;
    font-size: 1.5em;
}
